<template>
    <div>
        <bread-crumbs :title="title"></bread-crumbs>
        <v-container>
            <v-row>
                <v-col
                        cols="12"
                        md="6"
                >

                    <v-text-field
                        :rules="[rules.required]"
                            :counter="10"
                            label="Product Name"
                            required
                            v-model="product.title"
                    ></v-text-field>
                </v-col>

                <v-col
                        cols="12"
                        md="6"
                >
                    <v-text-field
                        :rules="[rules.required]"
                            v-model="product.description"
                            :counter="15"
                            label="Description"
                            hide-details
                            required
                    ></v-text-field>
                </v-col>

                <v-col
                        cols="12"
                        md="6"
                >
                    <v-text-field
                        :rules="[rules.required]"
                            v-model="product.category"
                            label="Category"
                            required
                    ></v-text-field>
                </v-col>
                <v-col
                        cols="12"
                        md="6"
                >
                    <v-text-field
                            :rules="[rules.required]"
                            v-model="product.price"
                            label="Price"
                            required
                    ></v-text-field>
                </v-col>
            </v-row>
            <div class="d-flex align-center justify-center">
                <button class="default-btn primary-btn" @click.stop="addNewProduct">Save</button>
                </div>


        </v-container>
    </div>
</template>

<script lang="ts">
import snackbar from "~/api/snackbar";

export default {
    name:'NewProductIndex',
    setup() {
        const rules=reactive({
            required: (value: any) => !!value || 'Field is required'
        });
        const {$api, $store} = useNuxtApp();
        const {toggleSnackbar} = snackbar();
         const title = 'New Product'
        let product = reactive({
            title: '',
            category: '',
            description: '',
            image: 'https://i.pravatar.cc',
            price: 0
        })


        const addNewProduct = async () => {
            await $api.addNewProduct(product).then((response) => {
                if (response?.data) {
                    const newProduct = response?.data
                    product.id = newProduct.id
                    $store.commit("addProduct", product);
                    toggleSnackbar();
                    $store.commit('newCategoryList', product.category)
                }

            });
        }
        return {
            product,
            addNewProduct,
            title,
            rules
        }
    }
}

</script>

<style scoped lang="scss">

</style>
