<template>
    <div class="login">
        <h3 class="title"> Login </h3>
        <v-card>
            <v-container>
                <div class="error-card" v-if="rules.invalid">{{ rules.invalid }}</div>
                <v-row class="justify-center py-5">
                    <v-col
                            cols="12"
                            md="8"
                    >
                        <v-text-field
                                v-model="user.username"
                                label="UserName"
                                required
                                @keyup="clearError"
                        ></v-text-field>
                        <span class="error" v-if="rules.required && !user.username ">{{ rules.required }}</span>
                    </v-col>
                    <v-col md="8" cols="12">
                        <v-text-field
                                v-model="user.password"
                                label="Password"
                                required
                                type="password"
                                @keyup="clearError"
                        ></v-text-field>
                        <span class="error" v-if="rules.required && !user.password ">{{ rules.required }}</span>

                    </v-col>
                    <v-col cols="12" class="text-center"
                           md="8">
                        <button class="default-btn primary-btn" @click="login">Login</button>
                    </v-col>
                </v-row>
            </v-container>
        </v-card>

    </div>
</template>
<script>
import auth from "~/store/auth.ts";
import {watchEffect} from "vue"

definePageMeta({
    layout: "custom",
});
export default {
    setup() {

        const authStore = auth;
        const authenticated = computed(() => {
            return authStore.state.authenticateUser

        });
        const authResponse = computed(() => {
            return authStore.getters.authResponse

        })
        onMounted(() => {

        })
        const rules = reactive({
            required: '',
            invalid:''
        });

        const user = reactive({
            username: '',
            password: '',
        });
        const router = useRouter();
        const login = async () => {
            if (user.username === "" || user.password === "") {
                rules.required = 'Field is required';
            } else {
                 await authStore.commit('auth', user);
            }


        };
        const clearError=()=>{
            rules.required =''
            rules.invalid=''
        }
        watchEffect(async () => {
            if (authenticated.value) {
                await router.push({path: '/'});
            }
            if (authResponse.value) {
                rules.invalid = authResponse.value
            }
        })
        return {
            user,
            login,
            rules,
            clearError
        }
    }

}

</script>
<style scoped lang="scss">
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .v-card {
      @media (min-width: 992px) {
          width: 50%;
      }
    width: 100%;
    box-shadow: 0px 2px 2px 2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 1px 1px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 3px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
  }
    .error-card{
        color: #ba3939;
        background: #ffe0e0;
        border: 1px solid #a33a3a;
        padding: 16px;
        text-align: center;
    }
}
</style>
