<template>
    <div class="back">
        <ul>
            <li>
                <button @click="goBack">
                <i class="icon-angle-small-left"></i>
                    <span class="px-3">back
                    </span>
                </button>
            </li>
            <li class="mx-0">/</li>
            <li class="text-capitalize title">
                <i>{{ title }}</i>
            </li>
        </ul>

    </div>
</template>
<script lang="ts">
export default {
    name: 'BreadCrumbs',
    props: ['title'],
    setup() {
        const goBack = () => {
            const router = useRouter();
            if (window.history.length <= 2) {
                router.push('/');
            } else {
                router.go(-1);
            }
        };
        return {
            goBack
        }
    }
}
</script>

<style scoped lang="scss">
.back {
    padding: 20px 0;
    @media (min-width: 992px) {
        padding: 32px 0;
    }
  :deep {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        li {
            list-style-type: none;
            margin-left: 20px;
        }
        li.title{
            color: black;
            padding: 0;
            font-weight: bold;
        }
    }
  }
}


</style>
