<template>
    <v-container class="category-list">
        <v-row justify="center">
            <v-col cols="6" md="4" v-for="(category,index) in categoryList" :key="category + index">
                <v-card>
                    <i class="icon-category"></i>
                    <v-card-title class="text-capitalize">
                        {{ category}}
                    </v-card-title>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script lang="ts">
export default {
    name: 'CategoryList',
    props:['categoryList']
}
</script>
<style scoped lang="scss">
.category-list{
    .v-card{
        padding: 16px;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--primary);
        box-shadow: 0px 2px 5px 1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 1px 1px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 3px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
        i{
            font-size: 40px;
        }
        .v-card-title{
            margin: 20px 0;
        }
    }


}
</style>
