<template>
    <div class="main-header">
        <v-app-bar app>
            <button class="sideNav-btn" @click.stop="expandSideNav">
                <i :class="isSideNavOpen ?'icon-cross-small':'icon-menu-burger'"></i>
            </button>
            <img class="logo" :src="logo" alt="logo">
            <v-spacer v-if="$vuetify.display.lgAndUp"></v-spacer>
            <NuxtLink :to="'/search'">
                <i class="icon-search"></i>
            </NuxtLink>
            <div v-if="authenticatedUser && $vuetify.display.mdAndUp" class="user-info">
                <img class="profile-icon" :src="profile" alt="profile">
                <span class="ml-3" v-if="authenticatedUseInfo && authenticatedUseInfo.name">
                    Welcome {{ authenticatedUseInfo.name.firstname }}</span>
            </div>

        </v-app-bar>
        <side-nav @toggleDrawer="toggleSideNav" :authenticated-user="authenticatedUser" :user-info="authenticatedUseInfo" :img="profile"
                  v-if="isSideNavOpen"></side-nav>
    </div>
</template>

<script>
import SideNav from "@/components/SideNav.vue";
import {ref, onMounted,watch} from 'vue'
import logo from "@/assets/images/logo.png"
import profile from "@/assets/images/user.png"
import Auth from "~/store/auth.ts";

export default {
    name: 'MainHeader',
    components: {SideNav},
    setup() {
        let isSideNavOpen = ref(false);
        const auth = Auth
        const authenticatedUser = computed(() => {
            return auth.state.authenticateUser;
        });
        const authenticatedUseInfo = computed(() => {
            return auth.state.authenticateUserInfo;
        })
        const expandSideNav = () => {
            isSideNavOpen.value = !isSideNavOpen.value
        };
        const toggleSideNav = () => {
            isSideNavOpen.value = false
        };

        return {
            isSideNavOpen,
            expandSideNav,
            logo,
            profile,
            authenticatedUser,
            authenticatedUseInfo,
            toggleSideNav
        };
    },

}
</script>

<style scoped lang="scss">
.main-header {
  .logo {
    display: block;
    height: 30px;
    width: 100px;

      @media (min-width: 992px) {
          margin-left: 35px;
          width: auto;
          height: 33px;
      }
  }

  header {
    display: block;
    width: 100%;
    height: 70px;
    background-color: var(--legend);

    :deep .v-toolbar__content {
      padding: 0 30px;
      justify-content: space-between;
        @media (min-width: 992px) {
            justify-content: flex-start;
        }
    }

  }

  .sideNav-btn {
    outline: none;
    background: none;
    border: 0;
    display: flex;
  }


  i {
    color: var(--white);
    vertical-align: middle;
  }
    :deep .v-navigation-drawer__scrim{
        display: none;
    }
}
</style>
