
<template>
    <v-snackbar
            v-model="snackbarModal.isActive"
    >
      <p>  Product has been added successfully</p>

        <template v-slot:actions>
            <button class="default-btn primary-btn"
                    color="pink"
                    variant="text"
                    @click="toggleSnackbar"
            >
                Close
            </button>
        </template>
    </v-snackbar>
</template>
<script  lang="ts">
import snackbar from "~/api/snackbar";

export default {
    setup(){
        const {toggleSnackbar,snackbarModal} = snackbar();
        return{
            toggleSnackbar,
            snackbarModal
        }

    }
}

</script>
<style scoped lang="scss">

</style>
