<template>
    <div class="item-list px-5">
        <v-row justify="center">
            <v-col cols="6" lg="2" v-for="(product,index) in products" :key="product.title + index">
                <v-card>
                    <img :src="product.image" :alt="product.title"/>
                    <v-card-title>
                        {{ product.title }}
                    </v-card-title>
                    <div class="rating">
                        <v-rating v-if="product.rating"
                                  v-model="product.rating.rate"
                                  bg-color="var(--secondary)"
                                  color="var(--secondary)"
                                  readonly
                        ></v-rating>
                    </div>
                    <div class="card-info">
                        <v-card-subtitle>
                            {{ product.price }}
                        </v-card-subtitle>
                        <v-menu offset-y bottom width="200px" :close-on-content-click="true">
                            <template v-slot:activator="{ props }">
                                <button v-bind="props"
                                >
                                    <i class="icon-menu-dots"></i>
                                </button>
                            </template>

                            <v-list>
                                <v-list-item
                                        v-for="(item, index) in menuItems"
                                        :key="index"
                                >
                                    <button @click="executeFunction(item.action,product)">
                                        <i :class="item.icon" class="mr-2"></i>
                                        <span>{{ item.name }}</span>
                                    </button>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import productDialogs from "~/api/productDialogs.ts";

export default {
    name: 'ProductList',
    props: {
        products: null
    },
    setup() {
        const {toggleEditModal, toggleDeleteModal} = productDialogs();
        const menuItems = computed(() => {
            const list = [
                {icon: 'icon-file-edit', name: 'Edit', action: 'editProductDialog'},
                {icon: 'icon-trash', name: 'Delete', action: 'deleteProduct'}
            ]
            return list;
        });
        const executeFunction = (fnName, product) => {
            methods[fnName](product);
        }
        const methods = {
            editProductDialog: (product) => {
                toggleEditModal(product.id, product);
            },
            deleteProduct: (product) => {
                toggleDeleteModal(product.id)
            }
        }

        return {
            menuItems,
            executeFunction
        }
    }
}
</script>

<style scoped lang="scss">
.item-list {
  img {
    display: block;
    width: 100%;
    height: 100px;
    @media (min-width: 992px) {
      height: 200px;
    }
  }

  .v-card {
    padding: 16px;
    min-height: 200px;
    @media (min-width: 992px) {
      min-height: 355px;
    }


    .v-card-title {
      padding-right: 0;
      padding-left: 0;
      font-size: 1rem;
    }

    :deep {
      .rating .v-rating .v-rating__wrapper {
        width: 25px;
        @media (min-width: 992px) {
          width: 30px;
        }
      }
    }

    .card-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .v-card-subtitle {
        padding: 0;
      }

    }
  }
}
</style>
