<template>
    <v-navigation-drawer
        temporary
        @click="toggleDrawer"
           app
            v-model="drawer"
            class="navigation-drawer"
            hide-overlay
            fixed
            :style="{
                top: 70 + 'px',
                zIndex: 60,
                bottom: 0,
                paddingBottom: 100 + 'px'}"
    >
        <div v-if="authenticatedUser && $vuetify.display.mobile" class="user-info">
            <img class="profile-icon" :src="img" alt="profile">
            <span class="ml-3" v-if="userInfo && userInfo.name">
                    Welcome {{ userInfo.name.firstname }}</span>
        </div>
        <v-list>
            <v-list-item>
                <NuxtLink :to="'/products'">Products</NuxtLink>
            </v-list-item>
            <v-list-item>
                <NuxtLink :to="'/category'">Categories</NuxtLink>
            </v-list-item>
            <v-list-item>
                <NuxtLink :to="'/newProduct'">Add New Product/Category</NuxtLink>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    name: 'SideNav',
    props: ['userInfo', 'authenticatedUser', 'img'],
    setup(props, {emit}) {
        let drawer = ref(true);

        const toggleDrawer = () => {
            drawer = !drawer
            emit('toggleDrawer',true)
        }
        return {
            drawer,
            toggleDrawer
        }
    }
}
</script>

<style scoped lang="scss">

.navigation-drawer {
  position: absolute;
  height: 100%;
  width: 100% !important;
  background-color: var(--legend);
  padding: 0 0 100px 16px;
  font-size: 16px;
  @media (min-width: 992px) {
    width: 30% !important;
  }

  a {
    text-decoration: none;
    color: var(--white);
  }

  .router-link-active {
    color: var(--primary);
    font-weight: bold;

  }

}

</style>
