<template>
    <div>
        <bread-crumbs :title="title"></bread-crumbs>
        <category-list :category-list="categoryList"></category-list>
    </div>
</template>
<script lang="ts">

export default {
    name: 'CategoryIndex',
    setup() {
        const title = 'Categories'
        const {$api,$store} =useNuxtApp();
        const categories = ref([]);
        const categoryList = computed(()=>{
            return $store.state.updatedCategoryList;
        }

        )
        const getCategories = async () => {
            await $api.getCategories().then((response) => {
                if (response?.data) {
                    categories.value = response.data;
                    $store.commit('setCategories', categories.value)
                }
                if ($store.state.updatedCategoryList?.length == 0) {
                    $store.commit('newCategoryList', categories.value);
                }
            })
            }
        getCategories()
        return {
            title,
            categoryList,

        }
    }
}
</script>
<style scoped lang="scss">

</style>
