<template>
    <div>
        <bread-crumbs :title="title"></bread-crumbs>
        <v-container class="search-container">
            <v-text-field
                    :counter="15"
                    label="search"
                    required
                    v-model="query"
                    @keyup="search"
                    clearable
            >
            </v-text-field>
            <button class="default-btn primary-btn" @click="search">
                search
            </button>
        </v-container>
        <product-list v-if="query" :products="results"></product-list>
    </div>
</template>
<script lang="ts">
export default {
    name: 'SearchIndex',
    setup() {
        const title = 'Search'
        const query = ref('');
        const results = ref([]);
        const {$store} = useNuxtApp();
        const products = computed(() => {
            return $store.state.updatedProductList
        })
        const search = () => {
            results.value = products.value.filter((item: any) => item.title.toLowerCase().includes(query.value))
            return results;
        }
        return {
            title,
            search,
            query,
            results
        }
    }
}
</script>
<style scoped lang="scss">
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;

  :deep .v-input {
    width: 50%;
    flex: inherit;
  }

}
</style>
