<template>
  <div>
      <bread-crumbs :title="title"></bread-crumbs>
      <product-list :products="updatedProductList"></product-list>
  </div>
</template>

<script lang="ts">

export default {
    name:'ProductsIndex',
    setup() {
        const {$store} = useNuxtApp();
        const title = 'Products'
        const productsList = ref([])

        const updatedProductList = computed(()=>{
            return $store.state.updatedProductList
        })

        return {
            productsList,
            title,
            updatedProductList
        }
    }
}</script>
<style scoped lang="scss">

</style>
