.primary-btn{
  background-color: var(--primary);
  color: var(--white);
}
.secondary-btn{
  border: 1px solid var(--primary);
  color: var(--primary);
}
.default-btn{
  border-radius: 40px;
  padding: 5px 20px;
  margin: 10px;

}
