.error{
  font-size: 12px;
  color: red;
}
.profile-icon{
  height: 40px;
  width: 40px;
  margin-left: 25px;
  display: block;
  @media (min-width: 992px)  {
    height: 30px;
    width: auto;
  }

}
.user-info {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bold;
  align-items: center;
}
.title {
  color: var(--primary);
  padding: 20px;
  text-align: center;
}
