
@import "icons";
@import "buttons";
@import "dialogs";
@import "utilities";

:root {
  --primary: #4584ff;
  --secondary: #ffcc5c;
  --alpha: #161c23;
  --legend: #051721;
  --misty: #0d3448;
  --omega: #ffffff;
  --white: #fff;
  --black: #000;
}
