<template>
    <v-app>
        <main-header></main-header>
        <v-main>
            <slot/>
        </v-main>
        <dialogs></dialogs>
        <new-product-snackbar v-if="snackbarModal.isActive"></new-product-snackbar>
    </v-app>
</template>
<script lang="ts">
import MainHeader from "@/components/MainHeader.vue";
import Dialogs from "@/components/dialogs/Dialogs.vue";
import snackbar from "~/api/snackbar";

export default {
    name: 'Default',
    middleware: ["auth"],
    components: {
        MainHeader,
        Dialogs
    },
    setup() {
        const {$api, $store} = useNuxtApp();
        const productsList = ref([]);
        const {snackbarModal} = snackbar();
        const products = computed(() => {
            return $store.state.products
        })

        if (products.value.length == 0) {
            const getProducts = async () => {
                await $api.getProducts().then((response) => {
                    if (response?.data) {
                        productsList.value = response.data;
                        $store.commit('setProducts', productsList.value)
                    }

                })
                if ($store.state.updatedProductList?.length == 0) {
                    $store.commit('newProductList', productsList.value);
                }
            }
            getProducts();
        }
        return {snackbarModal}
    }
}
</script>

<style scoped lang="scss">
.v-main {
  position: relative;
}

</style>
