<template>
<div class="home">
    <h2 class="title" > Home Page</h2>
    <product-list :products="productsList"></product-list>
</div>
</template>

<script>
export default {
    middleware: ["auth"],
    setup() {
        const {$api} = useNuxtApp();
        const productsList = ref([]);
        const products = async () => {
            await $api.getProductsWithLimit().then((response) => {
                productsList.value = response?.data
            })
        }
        products();
        return {
            productsList
        }
    }
}

</script>

<style lang="scss">
body {
  margin: 0;
}
</style>
