

<template>
    <v-dialog
            :max-width="$vuetify.display.mdAndUp ?'50%':''"
            id="edit-product-dialog"
            key="edit-product-dialog"
            overlay-color="background-alpha"
            overlay-opacity="0.9"
            v-model="deleteProductModal.isActive"
            :width="$vuetify.display.mdAndUp ? '50%':'100%'">
        <v-card>
        <p>Are you sure you want to delete this product</p>
        <div class="dialog-actions">
            <button class="default-btn primary-btn" @click.stop="deleteProduct">Confirm</button>
            <button class="default-btn secondary-btn" @click="toggleDeleteModal">Cancel</button>
        </div>
        </v-card>
    </v-dialog>
</template>
<script lang="ts">
import productDialogs from "~/api/productDialogs";

export default {
    name :'DeleteProductConfirmation',
    setup(){

        const { deleteProductModal,toggleDeleteModal } = productDialogs();
        const {$api,$store} = useNuxtApp();
        const deleteProduct =()=>{
            let deletedProduct ={}
            $api.deleteProducts(deleteProductModal.productId).then((response=>{
               if(response?.data) {
                   deletedProduct = response?.data
                   $store.commit("deleteProduct", deletedProduct);
               }
                toggleDeleteModal(deletedProduct.id)
            }))

        }
        return {
            deleteProductModal,
            toggleDeleteModal,
            deleteProduct

        }
    }
}
</script>
<style scoped lang="scss">
.v-card{
    padding: 16px;
    align-items: center;
}
</style>
