
<template>
<edit-product-dialog  v-if="editProductModal.isActive"></edit-product-dialog>
<delete-product-confirmation  v-if="deleteProductModal.isActive"></delete-product-confirmation>
</template>
<script>
import EditProductDialog from "~/components/dialogs/EditProductDialog.vue";
import productDialogs from "../../api/productDialogs.ts";
import DeleteProductConfirmation from "~/components/dialogs/deleteProductConfirmation.vue";

export default {
    name: 'Dialogs',
    components: {DeleteProductConfirmation, EditProductDialog},
    setup(){

        const { editProductModal,deleteProductModal } = productDialogs();
        return {
            editProductModal,
            deleteProductModal

        }
    }

}
</script>
<style scoped lang="scss">

</style>
