<template>
    <v-dialog
            max-width="70%"
            id="edit-product-dialog"
            key="edit-product-dialog"
            overlay-color="background-alpha"
            overlay-opacity="0.9"
            v-model="editProductModal.isActive"
            width="70%">
        <v-card>
                <v-container>
                    <v-row>
                        <v-col
                                cols="12"
                                md="6"
                        >

                            <v-text-field
                                    :counter="10"
                                    label="Product Name"
                                    required
                                    hide-details
                                    v-model="product.title"
                                    :rules="[rules.required]"
                            ></v-text-field>
                        </v-col>

                        <v-col
                                cols="12"
                                md="6"
                        >
                            <v-text-field
                                    v-model="product.description"
                                    :counter="15"
                                    label="Description"
                                    hide-details
                                    required
                                    :rules="[rules.required]"
                            ></v-text-field>
                        </v-col>

                        <v-col
                                cols="12"
                                md="6"
                        >
                            <v-text-field
                                    v-model="product.category"
                                    label="Category"
                                    required
                                    :rules="[rules.required]"
                            ></v-text-field>
                        </v-col>
                        <v-col
                                cols="12"
                                md="6"
                        >
                            <v-text-field
                                    v-model="product.price"
                                    label="Price"
                                    required
                                    :rules="[rules.required]"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <div class="dialog-actions">
                        <button class="default-btn primary-btn" @click.stop="editProduct">Save</button>
                        <button class="default-btn secondary-btn" @click="toggleEditModal">Close</button>
                    </div>

                </v-container>
        </v-card>
    </v-dialog>
</template>
<script>
import productDialogs from "../../api/productDialogs.ts";

export default {
    name: 'EditProductDialog',
    setup() {
        const {editProductModal,toggleEditModal} = productDialogs();
        const {$api, $store} = useNuxtApp();
        const rules=reactive({
            required: value => !!value || 'Field is required'
        });
        let product = reactive({
            title: '',
            category: '',
            description: '',
            price:''
        })
        product = editProductModal.productData;

        const editProduct = async () => {
            let updatedProduct = {}
            await $api.updateProducts(editProductModal.productId, product).then((response) => {
                if (response?.data) {
                    updatedProduct = product;
                    updatedProduct.id = response.data.id;
                    $store.commit("updateProduct", updatedProduct);
                }
                toggleEditModal(updatedProduct.id,updatedProduct);

            });
        }
        return {
            editProductModal,
            toggleEditModal,
            editProduct,
            product,
            rules

        }
    }
}

</script>

<style scoped>

</style>
